:root
{
    --pallete-1: #830000;
    --pallete-2: #daac62;
    --pallete-3: #e6d597;
    --pallete-4: #ECE09D;

    --text-color-1: #272727;
    --text-color-2: #FFF;
}

.pal-1
{
    background-color: var(--pallete-1);
}

.pal-2
{
    background-color: var(--pallete-2);
}

.pal-3
{
    background-color: var(--pallete-3);
}

.pal-4
{
    color: var(--pallete-4);
}

.text-pal-1
{
    color: var(--pallete-1);
}

.text-pal-2
{
    color: var(--pallete-2);
}

.text-pal-3
{
    color: var(--pallete-3);
}

.text-pal-4
{
    color: var(--pallete-4);
}

.text-col-1
{
    color: var(--text-color-1);
}

.text-col-2
{
    color: var(--text-color-2);
}

/*Stylesheet for text dropdown*/

.p-drop
{
    font-size: .8rem;
}

a

{
    color: var(--text-color-1);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--text-color-1) !important;
    background-color: var(--pallete-4);
}

/* for bg color*/
.content-wrapper
{
    /* background: linear-gradient(to right, rgb(255, 255, 255), #bebebe 100%); */
    background-color: #edecec !important;
}

/* for sidebar color and blur*/
.transpa
{
    background-color: var(--pallete-1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
}

/* for nav-links that involve redirection */
.nav-item > a,
.info > a
{
    transition: color 0.8s ease!important;
    position: relative!important;
}

.nav-item > a:hover,
.info > a:hover
{
    color: var(--pallete-2)!important;
}

.nav-item > a:hover::before,
.info > a:hover::before
{
    background-color: var(--pallete-4);
}

/* for sidebar header PUPQC_FARMS */
.brand-link {
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

.brand-link:hover {
    color: var(--pallete-1);
    transform: scale(1.05);
    transition-delay: 0.2s;
}

/* for sidebar justify texts when hovered*/
.nav-link {
    transition: transform 3s ease, color 3s ease;
    font-weight: 600;
}

.nav-item:hover .nav-link {
    transform: scale(1);
    color: var(--pallete-2);
    transition-delay: 0.2s;
}

.nav-item:not(:hover) .nav-link{
    transform: scale(0.9);
    color: var(--text-color-2);
    transform: 1s;
}


/* for top nav*/
.navbar
{
    background-color: var(--text-color-2);
}

h1

{
    font-weight: 500;
}

/* body */
input, select
{
    border-radius: 0.6rem !important;
}

.rounded-lg
{
    border-radius: .5rem !important;
}

